:root {
    --mainContentBG: url("./alexandre-topolewski-95izPCyzmrc-unsplash.jpg");
    --menuContentBG: url("./alexandre-topolewski-LMkwGSe7oNw-unsplash.jpg");
    --aboutContentBG: url("./alexandre-topolewski-rWAiaJ2WqMU-unsplash.jpg");

    --main-txt-color: white;
    
    --main-bg-color: black;
    --nav-bg-color: rgba(128, 128, 128, 0.3);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    color: var(--main-txt-color);
}

/* header */

header {
    background-color: var(--nav-bg-color);
}

/* nav */

nav button {
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    border: none;
    font-size: 1.5625rem;
}

/* welcom banner */